.o-filters {
    @extend %flex;

    &--topright {
//        @extend %abs;
  //      @extend %abs-y;
        
        
        @media screen and ( min-width: $tablet_portrait + 1px ) {
            position: absolute;
            right: -10px; top: 50%;
            transform: translateY(-50%);
        }
    }

    .form-group {
        margin-bottom: 0;

        &--select {
            flex: 1;
            width: 200px;
        }
    }
}