.icon-cw:before {
  content: "\e910";
}
.icon-ccw:before {
  content: "\e90f";
}
.icon-tumblr:before {
  content: "\e90d";
}
.icon-picture2:before {
  content: "\e90e";
}
.icon-pinterest:before {
  content: "\e907";
}
.icon-tick2:before {
  content: "\e90c";
}
.icon-archive:before {
  content: "\e90b";
}
.icon-reply:before {
  content: "\e908";
}
.icon-write:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-picture:before {
  content: "\e903";
}
.icon-rss:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
