<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>

    <div class="c-top c-top--customer js-top">
        <a href="index.html" class="c-logo">
            <img src=<%= require("./img/logo-cl--black.svg") %> width="191" height="54" alt="Central Listing">
        </a>

        <%= require('html-loader?minimize=false!./includes/nav-customer.html') %>
        <div class="o-hamburger o-hamburger--subsite js-hamburger"></div>
        <%= require('html-loader?minimize=false!./includes/co-profile.html') %>
        <%= require('html-loader?minimize=false!./includes/co-nav.html') %>
    </div>

    <div class="o-container o-container--customer">
    
        <div class="o-wrap o-wrap--content">
            <div class="c-searchresults c-searchresults--dashboard">
                <form action="#">
                    <header class="o-header text-center">
                        <h1 class="o-header--fourth">Send it to</h1>
                        
                        <p>Select agent below</p>
                    </header>


                    <header class="o-header text-justify">
                        <h2 class="o-header--fourth">Agents in Your Area</h2>
                    </header>
                    
                    <div class="o-grid o-grid--four o-grid--carousel js-dashslide" data-row="4">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" checked class="form-checkbox form-checkbox--oval" id="check-1">
                                            <label for="check-1">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>    
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-2">
                                            <label for="check-2">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-3">
                                            <label for="check-3">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-4">
                                            <label for="check-4">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                            
                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="icon-arrow glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                                <button class="icon-arrow glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <header class="o-header text-justify">
                        <h2 class="o-header--fourth">Matching Agents</h2>
                    </header>
                    
                    <div class="o-grid o-grid--four o-grid--carousel js-dashslide" data-row="4">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" checked class="form-checkbox form-checkbox--oval" id="check-5">
                                            <label for="check-5">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>    
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-6">
                                            <label for="check-6">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-7">
                                            <label for="check-7">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-8">
                                            <label for="check-8">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                            
                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="icon-arrow glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                                <button class="icon-arrow glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                            </div>
                        </div>
                    </div>



                    <header class="o-header text-justify">
                        <h2 class="o-header--fourth">Expert Agents</h2>
                    </header>
                    
                    <div class="o-grid o-grid--four o-grid--carousel js-dashslide" data-row="4">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" checked class="form-checkbox form-checkbox--oval" id="check-9">
                                            <label for="check-9">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>    
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-10">
                                            <label for="check-10">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-11">
                                            <label for="check-11">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                                
                                <li class="glide__slide">
                                    <div class="o-grid__item">
                                        <div class="o-grid__checkbox">
                                        	<input type="checkbox" class="form-checkbox form-checkbox--oval" id="check-12">
                                            <label for="check-12">
                                                <i class="icon-tick2"></i>
                                            </label>
                                        </div>
                                    
                                        <figure class="o-icon">
                                            <img src="../img/assets/agent-1.jpg" alt="Gabriel Lawrence" width="240" height="240">
                                            
                                            <figcaption class="o-text">
                                                <h5 class="o-header--fifth">Gabriel Lawrence</h5>
                                                
                                                <p>Senior Property Consultant</p>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                            
                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="icon-arrow glide__arrow glide__arrow--left" data-glide-dir="<"></button>
                                <button class="icon-arrow glide__arrow glide__arrow--right" data-glide-dir=">"></button>
                            </div>
                        </div>
                    </div>
    

                    <div class="form-row">
                        <div class="form-group">
                            <h6 class="o-header--sixth"><sup>*</sup> Denotes a mandatory field</h6>
                        </div>
                        
                        <div class="form-group text-right">
                            <a href="#" class="o-btn o-btn--white">Skip</a>
                            <button type="submit" class="o-btn o-btn--violet">Send</button>
                        </div>
                    </div>
                </form>
            </div>                     
        </div>
    </div>


    <%= require('html-loader?minimize=false!./includes/footer.html') %>


</body>
</html>
