<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>

    <div class="c-top c-top--float js-top">
        <a href="index.html" class="c-logo">
            <img src=<%= require("./img/logo-cl--black.svg") %> width="191" height="54" alt="Central Listing">
        </a>
        
        <%= require('html-loader?minimize=false!./includes/nav-primary.html') %>
        <div class="o-hamburger o-hamburger--subsite js-hamburger"></div>
        <%= require('html-loader?minimize=false!./includes/top-buttons.html') %>
    </div>

    <div class="o-container o-container--float">
    
        <div class="o-wrap o-wrap--content">
            <div class="c-article">
                <article class="o-text">
                    <h1>Cookie Policy</h1>
    
                    <h5>Fusce sed mauris a lacus tincidunt pulvinar quis nec augue.</h5>
                    
                    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elit arcu, consequat eu gravida eu, fermentum pellentesque velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vehicula, est ac ornare ullamcorper, nulla nisi semper ipsum, ac tristique urna ipsum sit amet eros. Vestibulum non semper elit. Quisque scelerisque a neque consequat tristique. Etiam ut consectetur ex. Donec eu nunc nec diam ultrices sodales in id sapien.
                    </p>
                    
                    <p>
Nam sit amet nunc vulputate, condimentum metus eget, lobortis lorem. Morbi turpis nibh, euismod at congue eu, malesuada vel nunc. Vivamus consequat fringilla dui, quis maximus sem dignissim vel. Nullam sit amet nibh lobortis, accumsan dolor nec, <a href="#">incidunt massa</a>. Aenean tempus ultricies molestie. Sed mattis, diam a lacinia ullamcorper, felis est feugiat quam, ac pretium ligula nunc et sem. Duis rhoncus augue vel sapien feugiat aliquet eu ac sem. Donec enim neque, feugiat id consequat id, aliquam in leo. Sed porta porttitor tortor, id vulputate est elementum sit amet. Donec placerat cursus enim at blandit. Integer sed sem in turpis viverra tempus non eu odio.
                    </p>
                    
                    <blockquote>
                        <p>
Cras hendrerit nisi nunc, fermentum sollicitudin orci venenatis sit amet. Nunc semper hendrerit enim quis convallis. Nullam sit amet tortor pellentesque, mattis tortor ac, vulputate velit.
                        </p>
                    </blockquote>
    
                    <p>
Sed eu massa hendrerit, molestie nibh rhoncus, consequat diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce imperdiet sit amet neque non venenatis. Praesent tempor mollis elit non accumsan. Cras finibus id orci ac vulputate. Duis luctus erat diam, bibendum euismod sapien dignissim sit amet. Nunc lacinia arcu at tempor accumsan. Ut tincidunt laoreet nulla, vitae hendrerit erat posuere nec. In congue porta est, nec ornare tellus aliquet quis. Curabitur eu ultrices mauris, quis suscipit dui. Mauris gravida accumsan tempor.
                    </p>
                    
                    <p>
Sed pretium erat est, sed hendrerit urna commodo ac. Phasellus lobortis, erat nec imperdiet consectetur, magna lacus iaculis diam, et commodo nulla nulla ac magna. Etiam ultricies tellus in arcu sodales, et fermentum magna vulputate. Nam auctor, diam a consequat consectetur, velit nibh hendrerit urna, id ullamcorper nulla justo nec lectus. Fusce commodo sapien mi, eget varius ipsum pharetra in. Mauris volutpat eros nec sagittis consequat. Mauris leo neque, laoreet a quam in, eleifend porttitor elit. Aenean vel vehicula ante. Sed malesuada, elit sit amet efficitur vestibulum, odio risus ullamcorper tellus, vitae cursus ex turpis eu mi. Ut quis nulla ac mauris ornare scelerisque.
                    </p>
                    
                    <p>
Donec ac consectetur leo. Pellentesque viverra mauris vel libero suscipit finibus. Nullam lobortis lacinia tempor. Mauris efficitur ligula nec sapien egestas fringilla. Nunc tristique justo ipsum, quis faucibus tortor tincidunt at. Cras id nisl ac lectus molestie pellentesque ac sollicitudin ante. Pellentesque bibendum nisi tellus, at vestibulum massa pulvinar nec. Nulla facilisi. Nam vestibulum, lectus quis venenatis porta, lorem purus aliquet ligula, sed dignissim ex neque nec odio. Suspendisse potenti. Quisque vel tincidunt massa. Nullam viverra magna et nisi lacinia euismod. Aliquam erat volutpat. Duis laoreet arcu eget nulla pharetra, sit amet egestas tellus fermentum. Vivamus et nulla ultrices purus facilisis dignissim at id nisi.
                    </p>
                    
                    
                    <h5>Mauris erat mauris, gravida eu efficitur id, sollicitudin vitae felis.</h5>

                    <p>
Aenean nec facilisis sem. Cras hendrerit nisi nunc, fermentum sollicitudin orci venenatis sit amet. Nunc semper hendrerit enim quis convallis. Nullam sit amet tortor pellentesque, mattis tortor ac, vulputate velit. Morbi libero ipsum, interdum fermentum metus quis, hendrerit laoreet ligula. Maecenas eget faucibus purus. Sed ut volutpat orci. Morbi tincidunt porta ipsum. Vivamus volutpat ipsum id elit consectetur porta ac id quam. Suspendisse placerat quam eget interdum dictum. Morbi feugiat dictum erat quis pharetra. Suspendisse dapibus, nunc in laoreet congue, ex magna tincidunt eros, sit amet tristique quam leo nec lorem. Nunc tellus metus, placerat vel nibh et, rutrum vehicula leo.
                    </p>
                    
                    <p>
In et lacus posuere, suscipit velit vitae, gravida dui. Morbi nibh dolor, iaculis eget nunc eu, pretium fringilla neque. Nulla ut erat at nibh condimentum malesuada dapibus quis lectus. Donec a felis vitae risus tristique euismod. Duis convallis nisl nec congue tempor. Vestibulum vel orci tempor, commodo ipsum ac, elementum mauris. Proin tincidunt, sem at posuere ornare, diam nisi ultrices est, sit amet gravida sem nisl et lectus. Aenean ante quam, malesuada sed lacus ullamcorper, iaculis aliquet erat. Sed semper diam eget ligula lacinia, eu aliquam ipsum dignissim. Quisque ultricies nisi iaculis velit sodales gravida. Donec aliquet, eros vitae eleifend ornare, est velit fermentum leo, a dapibus felis orci id augue.
                    </p>
                    
                    <p>
Quisque imperdiet libero nunc, in hendrerit nunc malesuada eu. Cras condimentum tempor libero, sed euismod lectus dictum eget. Pellentesque at blandit nisl, ac posuere libero. Nunc vitae metus eu ipsum mattis ultricies id id lacus. Aenean hendrerit eget nibh sit amet tristique. Vestibulum mi nisi, dictum at est vitae, fringilla placerat eros. Aliquam ornare libero iaculis mauris porttitor vulputate.
                    </p>
                </article>
            </div>
        </div>        
    </div>


    <%= require('html-loader?minimize=false!./includes/footer.html') %>


</body>
</html>
