<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader?minimize=false!./includes/head.html') %>

    <div class="c-top c-top--customer js-top">
        <a href="index.html" class="c-logo">
            <img src=<%= require("./img/logo-cl--black.svg") %> width="191" height="54" alt="Central Listing">
        </a>

        <%= require('html-loader?minimize=false!./includes/s-nav-customer.html') %>
        <div class="o-hamburger o-hamburger--subsite js-hamburger"></div>
        <%= require('html-loader?minimize=false!./includes/s-profile.html') %>
        <%= require('html-loader?minimize=false!./includes/s-nav.html') %>
    </div>

    <div class="o-container o-container--customer">
    
        <div class="o-wrap o-wrap--content">
            <div class="c-post">
                <header class="o-header text-justify">
                    <h1 class="o-header--fourth">Messages</h1>
                    
                    <div class="o-tabs">
                        <ul class="o-tabs__nav o-tabs__nav--gray">
                            <li>
                                <a href="co-messages--inbox.html">Inbox</a>
                            </li>
                            
                            <li>
                                <a href="co-messages--sent.html">Sent Items</a>
                            </li>
                            
                            <li>
                                <a href="co-messages--deleted.html">Deleted items</a>
                            </li>
                            
                            <li>
                                <a href="co-messages--archive.html">Archive</a>
                            </li>
                        </ul>
                    </div>
                    
                    <a href="#" class="o-btn o-btn--blue" data-url="inc/create-message.html">Create message</a>
                </header>
            
                <figure class="o-profile">
                    <img src=<%= require("./img/assets/profile-swift--small2.jpg") %> alt="Gabriel Swift" width="50" height="50">
                    
                    <figcaption>
                        <p class="name">Gabriel Swift</p>
                        
                        <p class="date">
                            <span class="hour">11:55 am</span>
                            <span class="day">08/09/17</span>
                        </p>
                    </figcaption>
                </figure>
                
                <div class="c-article">
                    <article class="o-text">
                        <header class="o-header">
                            <h2 class="o-header--fourth">Lorem ipsum dolor sit amet</h2>
                        </header>
                        
                        <p>                        
Curabitur feugiat mauris vitae tortor tincidunt, ac egestas lacus aliquam. Aenean ac justo viverra, ornare massa sit amet, tempor sem. Integer ullamcorper, ex vel dictum porttitor, lacus sapien ultrices augue, vel rutrum quam lorem vitae nulla. Nam libero sapien, elementum eget quam quis, bibendum aliquam purus. Curabitur porttitor tincidunt ante, eget tristique lacus ullamcorper a. Phasellus fringilla sodales vulputate. Maecenas convallis mauris id dui faucibus molestie. Aenean molestie fermentum ipsum, non mattis eros iaculis ac. Vivamus rutrum sapien ac nisi viverra bibendum. Proin mollis, tortor ut interdum sollicitudin, risus quam fringilla nisi, quis pharetra turpis quam a dui. Curabitur luctus eget diam non mattis. Aenean in arcu lacus.
                        </p>
                        
                        <p>
Maecenas tempor quam quis posuere venenatis. Sed iaculis ipsum a maximus aliquam. Sed in est quis diam tincidunt sagittis quis non lectus. Nunc ac ipsum non lacus malesuada mattis sit amet nec ligula. Cras dui tellus, auctor nec sollicitudin nec, mollis non mi. Donec fermentum diam et diam vehicula aliquam porttitor iaculis magna. Proin finibus congue urna, nec consectetur mi aliquet id. Sed lacinia sapien a sagittis viverra.
                        </p>
                        
                        <p>
Sed pulvinar mollis mollis. Ut ut blandit elit. Quisque imperdiet ligula eu auctor porta. Cras quis dictum libero. Cras eget purus nibh. Donec feugiat ornare sapien, at efficitur nisl. Aenean aliquam vulputate risus sed gravida. Fusce sit amet imperdiet eros. Sed quis risus sed odio molestie elementum. Aliquam a tincidunt magna. Suspendisse convallis nisi non enim eleifend, id ultricies neque efficitur. Suspendisse ipsum diam, tristique et sem tempor, euismod mollis purus. Fusce euismod facilisis metus, sed placerat ante egestas id. Mauris a felis sed justo pretium fringilla. Nam sit amet feugiat ligula.
                        </p>
                    </article>
                </div>
                
                <div class="c-post__meta text-justify">
                    <a href="#" class="o-btn o-btn--violet" data-url="inc/reply.html">Reply</a>
                    
                    <div class="o-actions">
                        <i class="icon-archive" data-url="inc/post-archive.html"></i>
                        <i class="icon-trash" data-url="inc/post-remove.html"></i>
                    </div>
                </div>
                
             </div>            
        </div>
    </div>


    <%= require('html-loader?minimize=false!./includes/footer.html') %>


</body>
</html>
